!!!5
%html(lang="en")
  %head
    %meta(charset="utf-8")
      %title Vegan Fine Dining | World Famous
    %link(rel="stylesheet" type="text/css" href="Css/style.css")
    %link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")

  %body
    %section#dinnerModal
      .modalDialog
        %div
          %a(href="#close", title="Close" class="close")="X"
          %h2 Dinner menu
          %ul.dinner
            %li.items SMOKED CHICKEN WINGS
            %li.items--copy">stuffed jalapeno peppers, smoked turkey, cream cheese
              %i $22
            %li.itemsDRY FRIED GREEN BEANS
            %li.items--copyvQuinta do Vale Meo Douro
               %i $15
