%section#main.l-rel
  .survey

    %h1.survey--head.l-abs
      TAKE OUR 5Q SURVEY
    %h3.survey--subhead.l-abs
      CUSTOMER FEEDBACK IS VERY IMPORTANT TO US.
    %p.survey--button.l-abs Start

 %article#article
   .menu.l-rel.l-imgSize
     %img.menu--pic(src="images/parts/menu.jpg")
     %p.menu--link.l-abs.greenMe BREAKFAST
     %p.menu--link.l-abs DINNER
     %p.menu--link.l-abs LUNCH
     %p.menu--link.l-abs WINE
  %section#map
    .direction.l-rel
      %h1.direction--head DIRECTIONS
      %p.direction--addr.l-abs
        12 High Road Atlanta GA.30068
      %img.direction--way(src="images/parts/map.jpg")
      %ul.direction--time.l-abs
        %li.direction--item Breakfast 9am-11am
        %li.direction--item Lunch     12pm-4pm
        %li.direction--item Dinner     7pm-11pm
      %h2.direction--copy.l-abs.greenMe } HOUR
  %secion#slide
